#title{
  background-color: #00adb5;
  color: #fff;
}


.animated{
        animation-fill-mode: forwards !important;
        -webkit-animation-fill-mode: forwards !important;
          }



.myAnimations{
    animation-name: bounce, flash, slideInRight;
    -webkit-animation-name: bounce, flash, slideInRight;



    /*
    you can set different proporties to different animations too:
    1s to bounce
    2s to flash
    3s to pulse
    */

    animation-duration: 1s, 2s, 3s;
    -webkit-animation-duration: 1s, 2s, 3s;
}

.container-fluid{
  padding: 3% 15%;
}
/*Navigation Bar*/
.navbar{
  padding: 0 0 4.5rem;
}

/*brand title*/
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 4rem;
}

/*experience*/
.exp{
  padding: 1% 10%;
}

.skills{
  padding: 1% 10%;
}
/*rest of resume until make classes*/
.bleepers-placholder{
  padding: 1% 5%;

}

.profile{
  font-size: 1.5rem;

    padding: 3% 15%;

    align-content: center;
}
h2{
  font-family: "Montserrat-Black", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 900;
}
/*
h1{
  color: #00adb5;
  font-family: Consolas,monaco,monospace;
  text-align: center;
}
*/

p {
  animation-duration: 3.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

b {
  animation-duration: 4s;
  animation-name: slideInL;
  color: #00adb5;
}

@keyframes slideinL {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}


body{
  color:#eeeeee;
  background-color: #393e46;
  font-family: Consolas,monaco,monospace;
}

/*Image*/
.title-image{
  width: 60%;
  /*transform: rotate(25deg);*/
}

/*Cloud*/
